.seller_password_change{
    width: 75%;
    height: 70%;
    padding: 40px 70px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
}
.seller_input{
    display: flex;
    flex-wrap: wrap;
}
.seller_password_change input{
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.6);;
    margin:10px 33px 20px 0  ;
}

 /* forget password */


 .seller{
    background-color: rgba(5, 63, 92, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    line-height: 40px;
}
.seller_forget_password{
    width: 90%;
    height: 80%;
    /* padding: 25px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 5px;
}
.seller_forget_password p{
    font-size: 15px;
}
.seller_forget_password input{
    width: 360px;
    margin: 10px 10px 15px 0;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.04);
    padding: 10px;
    border: none;
}
.seller_forget_password button{
    padding: 10px 165px;
    background-color: rgba(247, 173, 25, 1);
    border: none;
    border-radius: 5px;
    color: white;
}